# Please, just use `uv sync`.
--extra-index-url=https://download.pytorch.org/whl/cu128

# AI stack
torch==2.11.0+cu128
torchaudio==2.11.0+cu128
faster-qwen3-tts==0.2.6
voxcpm>=2.0.0,<2.1.0
hf-xet
huggingface-hub<1.0.0
transformers<6.0.0
triton>=3.3.0; sys_platform != 'win32'
triton-windows>=3.3.0; sys_platform == 'win32'

# Sound processing
numpy
scipy
sounddevice
soundfile
pedalboard
pyrubberband

# UX & UI
textual
rich
readchar
openrgb-python

# Others
psutil
pyyaml
