# Please, just use `uv sync`.
--extra-index-url=https://download.pytorch.org/whl/cu128

# AI stack
torch==2.11.0+cu128
torchaudio==2.11.0+cu128
faster-qwen3-tts==0.2.5
voxcpm>=2.0.0,<2.1.0
hf-xet
huggingface-hub
transformers

# Sound processing
numpy
scipy
sounddevice
soundfile
pedalboard
pyrubberband

# UX & UI
textual
rich
openrgb-python

# Others
psutil
